/*!
 * Dashboard v1.7.6
 * Copyright 2019 Soldata
 */

html {
	font-size: 15px;
}

body {
	background-image: url(../Images/body.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #999;
}

/*#region Layout*/
body {
	display: grid;
	grid-template-columns: 44px 1fr;
	grid-template-areas: "sidebar main";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 320px;
}

.sidebar {
	grid-area: sidebar;
	position: relative;
	overflow-x: hidden;
	z-index: 3;
}

.main {
	grid-area: main;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

@media all and (min-width: 992px) {
	body {
		grid-template-columns: 276px 1fr;
	}
}
/*#endregion*/

/*#region Sidebar */
.sidebar {
	grid-area: sidebar;
	position: relative;
	overflow-x: hidden;
	z-index: 3;
	color: #fff;
}

.sidebar-toggle {
	width: 44px;
	height: 44px;
	padding: 11px;
	font-size: 20px;
	line-height: 20px;
	background-color: transparent;
	border: 1px dashed transparent;
	border-radius: 0;
}

.sidebar .nav {
	position: absolute;
	top: 44px;
	bottom: 44px;
	left: 0;
	width: 276px;
	overflow: auto;
}

	.sidebar .nav a,
	.sidebar .nav button {
		display: block;
		width: 100%;
		text-align: left;
		border-radius: 0;
		line-height: 20px;
		padding: 0;
		background: 0 0;
		border: 1px dashed transparent;
		color: currentColor;
		text-decoration: none;
	}

	.sidebar .nav ul {
		list-style: none;
		padding-left: 0;
		transition: height ease-out 0.2s;
	}

		.sidebar .nav ul[aria-hidden=true] {
			display: none;
		}

		.sidebar .nav ul a {
			font-size: 13px;
			padding: 9px 12px 9px 44px;
		}

	.sidebar .nav > li > a > [class*=fa-],
	.sidebar .nav > li > button > [class*=fa-] {
		text-align: center;
		font-size: 20px;
		width: 42px;
		height: 42px;
		line-height: 42px;
	}

	.sidebar .nav > li + li {
		margin-top: 0;
	}

	.sidebar .nav > li > button[aria-expanded=false]::after,
	.sidebar .nav > li > button[aria-expanded=true]::after {
		display: block;
		float: right;
		text-align: center;
		font: normal normal normal 20px/42px FontAwesome;
		width: 42px;
		height: 42px;
	}

	.sidebar .nav > li > button[aria-expanded=false]::after {
		content: "\f107";
	}

	.sidebar .nav > li > button[aria-expanded=true]::after {
		content: "\f106";
	}

	.sidebar .nav > .active ul,
	.sidebar .nav > .active button,
	.sidebar .nav button[aria-expanded=true],
	.sidebar .nav button[aria-expanded=true] + ul {
		-webkit-backdrop-filter: blur(20px) saturate(125%);
		backdrop-filter: blur(20px) saturate(125%);
		background-color: rgba(255,255,255,.1);
	}

	.sidebar .nav .active > a {
		-webkit-backdrop-filter: blur(20px) saturate(125%);
		backdrop-filter: blur(20px) saturate(125%);
		background-color: rgba(255,255,255,.1);
	}

	.sidebar-toggle:hover,
	.sidebar-toggle:focus,
	.sidebar .nav a:hover,
	.sidebar .nav a:focus,
	.sidebar .nav > .active > a:hover,
	.sidebar .nav > .active > a:focus,
	.sidebar .nav button:hover,
	.sidebar .nav button:focus {
		background-color: rgba(255,255,255,.2);
	}

	.sidebar-toggle:active,
	.sidebar .nav a:active,
	.sidebar .nav > .active > a:active,
	.sidebar .nav button:active {
		border-color: rgba(255,255,255,.5);
	}

@media all and (min-width: 992px) {
	.sidebar-toggle {
		display: none;
	}

	.sidebar .nav {
		top: 44px;
		bottom: 44px;
		left: 0;
		background-color: transparent;
	}

		.sidebar .nav,
		.sidebar .nav.in {
			overflow-y: auto;
			width: 276px;
			box-shadow: none;
		}

			.sidebar .nav > li,
			.sidebar .nav.in > li {
				opacity: 1;
			}
}
/*#endregion*/

/*#region Hyperlink*/
a {
	color: #2B6597;
}

.page-link {
	color: #2b6597;
}

:first-child.page-item .page-link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

:last-child.page-item .page-link {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.page-item.active .page-link {
	background-color: #2b6597;
	border-color: #2b6597;
}
/*#endregion*/

/*#region Toolbar*/
.toolbar {
	display: flex;
	justify-content: space-between;
	min-height: 44px;
	background-color: #f3f3f3;
	color: rgba(0,0,0,0.9);
}

	.toolbar > div {
		display: flex;
	}

	.toolbar .btn {
		display: inline-block;
		line-height: 20px;
		min-width: 44px;
		height: 44px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		border: none;
		background-color: transparent;
		color: inherit;
		transition: none;
	}

		.toolbar .btn:active,
		.toolbar .btn:focus,
		.toolbar .btn:hover,
		.toolbar .btn-group.open .dropdown-toggle {
			background-color: #d8d8d8;
			border-style: none;
			box-shadow: none;
		}

		.toolbar .btn:focus {
			outline: 1px dashed rgba(0,0,0,0.6);
			outline-offset: -2px;
		}

		.toolbar .btn > [class*=fa-] {
			font-size: 20px;
			width: 20px;
		}

			.toolbar .btn > [class*=fa-] + span {
				display: none;
				margin-left: 10px;
			}

@media all and (min-width: 992px) {
	.toolbar .btn > [class*=fa-] {
		float: left;
	}

		.toolbar .btn > [class*=fa-] + span {
			display: inline;
		}
}
/*#endregion*/

/*#region Content*/
.content {
	flex: 1 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: rgba(0,0,0,0.9);
}

	.content > header,
	.content > article {
		padding-right: 12px;
		padding-left: 12px;
	}

	.content > header {
		position: relative;
	}

		.content > header::after {
			content: "";
			display: block;
			height: 10px;
			background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
			position: absolute;
			right: 24px;
			bottom: -10px;
			left: 24px;
		}

		.content > header sup {
			color: #008576;
			font-size: .83rem;
			border: 1px solid currentColor;
			padding-right: .25em;
			padding-left: .25em;
		}

	.content > article {
		flex: 1 0 0;
		overflow-y: auto;
	}

@media all and (min-width: 992px) {
	.content > header,
	.content > article {
		padding-right: 24px;
		padding-left: 24px;
	}
}
/*#endregion*/

/*#region Heading*/
h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 100;
	margin-bottom: .25em;
}

h1, .h1, h2, .h2 {
	letter-spacing: -0.01em;
}

h2, .h2 {
	line-height: 34px;
	padding-top: 35px;
	padding-bottom: 3px;
}

h3, .h3 {
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 4px;
}
/*#endregion*/

/*#region Table*/
.table {
	table-layout: fixed;
}

	.table thead {
		border-bottom: 2px solid #ccc;
	}

	.table > thead > tr > th {
		font-size: 11px;
		line-height: 16px;
		vertical-align: top;
		font-weight: 400;
		color: #666;
		color: rgba(0, 0, 0, 0.6);
		border-bottom: none;
	}

	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 10px 12px;
		border-top: none;
		line-height: 20px;
	}

		.table > thead > tr > th.tablesorter-header:not(.sorter-false) {
			cursor: pointer;
			white-space: nowrap;
		}

			.table > thead > tr > th.tablesorter-header:not(.sorter-false) > .tablesorter-header-inner::after {
				content: "";
				display: inline-block;
				width: 8px;
				height: 4px;
				margin-left: 1em;
				margin-bottom: 1px;
			}

		.table > thead > tr > th.tablesorter-headerAsc,
		.table > thead > tr > th.tablesorter-headerDesc {
			border-bottom: 2px solid #666;
			border-bottom: 2px solid rgba(0,0,0,0.6);
		}

			.table > thead > tr > th.tablesorter-headerAsc > .tablesorter-header-inner::after {
				border-top: 4px solid #666;
				border-top: 4px solid rgba(0,0,0,0.6);
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
			}

			.table > thead > tr > th.tablesorter-headerDesc > .tablesorter-header-inner::after {
				border-right: 4px solid transparent;
				border-bottom: 4px solid #666;
				border-bottom: 4px solid rgba(0,0,0,0.6);
				border-left: 4px solid transparent;
			}

	.table > tbody > tr > td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

		.table > tbody > tr > td:last-child a {
			color: rgba(0, 0, 0, 0.6);
			margin-left: .25em;
		}

	.table.table-checkable > thead > tr > th:first-child {
		width: 40px;
	}

	.table.table-checkable > thead > tr > th:last-child {
		width: 64px;
	}

.table-toolbar {
	padding-right: 12px;
}

	.table-toolbar::before,
	.table-toolbar::after {
		content: "";
		display: table;
	}

	.table-toolbar::after {
		clear: both;
	}

	.table-toolbar .btn-add {
		float: right;
		border-radius: 17px;
		padding-right: 10px;
		padding-left: 10px;
		max-width: 34px;
	}

.table-module {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.table-wrapper {
	flex: 1;
	overflow-x: auto;
}

.table-filter {
	width: 264px;
	border-left: solid 2px #ccc;
}

	.table-filter > form {
		padding: 10px 0 24px 18px;
		overflow-x: hidden;
		overflow-y: auto;
	}

		.table-filter > form.fixed {
			position: fixed;
			top: 44px;
			bottom: 0;
			width: 264px;
		}
/*#endregion*/

/*#region Aleft*/
.alert {
	line-height: 1.5;
	border-radius: 0;
}

.close {
	font-size: 1.15rem;
}
/*#endregion*/

/*#region Fieldset*/
legend {
	margin-bottom: .5em;
	font-size: 20px;
	color: #000;
	padding-bottom: .25em;
	font-weight: 300;
}
/*#endregion*/

/*#region Dictionary List*/
dt, dd {
	line-height: 20px;
}

dt {
	font-size: 13px;
	font-weight: 600;
}

.dl-horizontal {
	margin-top: 4px;
}
/*#endregion*/

/*#region Label*/
label {
	font-size: 13px;
	font-weight: 600;
}
/*#endregion*/

/*#region Button*/
.btn {
	border-radius: 0;
}

	.btn:focus {
		border-style: dashed;
	}

	.btn:active {
		box-shadow: none;
		border-style: dashed;
	}

	.btn.btn-sm, .btn-group-sm > .btn {
		border-radius: 0;
		font-size: 11px;
		line-height: 1.5;
	}

.btn-primary {
	background-color: #006156;
	border-color: #006156;
}

	.btn-primary:focus {
		background-color: #008576;
		border-color: #01bfaa;
	}

	.btn-primary:hover {
		background-color: #008576;
		border-color: #008576;
	}

		.btn-primary:active,
		.btn-primary:hover:active {
			background-color: #008576;
			border-color: #01bfaa;
		}

.btn-round {
	border-radius: 20px;
}
/*#endregion*/

/*#region Back to top*/
.back-to-top {
	display: none;
	width: 44px;
	height: 44px;
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	right: 3%;
	bottom: 36px;
	text-align: center;
	line-height: 44px;
	font-size: 24px;
	color: rgba(255, 255, 255,0.8);
}

	.back-to-top:focus,
	.back-to-top:hover,
	.back-to-top:active {
		background-color: rgba(0,0,0,0.3);
		color: #fff;
	}
/*#endregion*/

/*#region Dropdown Menu*/
.dropdown-menu {
	border-radius: 0;
}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #008576;
		color: #fff;
	}
/*#endregion*/

/*#region Panel*/
.panel {
	border-radius: 0;
}

.panel-body .dl-horizontal {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-title {
	line-height: 1.1;
	padding-bottom: 0;
}
/*#endregion*/

/*#region Radio*/
.radio label {
	font-size: 15px;
}
/*#endregion*/

/*#region Checkbox*/
.checkbox label {
	font-size: 15px;
}

label + .checkbox {
	margin-top: 0;
}

.checkbox .checkbox {
	margin-top: 5px;
	margin-left: 20px;
}
/*#endregion*/

/*#region Module*/
[class^='m-'] {
	padding-top: 24px;
}
/*#endregion*/

/*#region Компоненты*/
.btn-toolbar.row {
	margin-left: -15px;
}

.btn-toolbar + .table,
.btn-toolbar + .lead {
	margin-top: 20px;
}

.btn-toolbar .btn-group {
	margin-right: 15px;
}

.tab-content > .tab-pane {
	padding-top: 24px;
}

	.tab-content > .tab-pane .btn-toolbar {
		margin-bottom: 12px;
	}

.thumbnails {
	padding-top: 24px;
}
/*#endregion*/

/*#region Form*/
.form-control,
.form-group-sm .form-control,
.input-group-text {
	border-radius: 0;
}

.form-control {
	color: #000;
	padding: .4rem .7rem;
}

	.form-control:focus {
		border-color: #009688;
		box-shadow: none;
	}

input[type=file] {
	display: block;
	width: 100%;
	height: calc(2px + 2.25rem);
	font-size: 1rem;
	line-height: 1.5;
}
/*#endregion*/

/*#region Muted*/
.text-muted {
	color: #757575;
}
/*#endregion*/

/*#region Validation*/
.required::after {
	content: "*";
	margin-left: 0.25em;
	color: #a94442;
}

.input-validation-error,
.input-validation-error:focus {
	border-color: #a94442;
}

	.input-validation-error:focus {
		box-shadow: none;
	}

.field-validation-error {
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px;
}
/*#endregion*/

/*#region Thumbnail*/
.thumbnail.thumbnail-table {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-bottom: 0;
}

	.thumbnail.thumbnail-table img {
		max-width: 100%;
		vertical-align: middle;
	}
/*#endregion*/

/*#region Badge title*/
.badge-title {
	display: inline-block;
	background-color: #ccc;
	border-radius: 50%;
	text-align: center;
	margin-right: 0.25em;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
/*#endregion*/

#kladr_autocomplete {
	position: absolute
}
